
<section id="khuyenmai">
  <div class="container">
    <div class="row">
      <!-- content 1 -->
      <div class="content1">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h4><b>Bạn đang sinh sống và hoặc làm việc ở Duy Tân ?</b></h4>
              <p>Nhưng lại không biết nhiều địa điểm để ăn uống hay thư giãn ?</p>
              <p>Thế thì hãy đến với LaTha nơi chúng tôi cập nhật các địa điểm theo thời gian thực nhằm giúp các bạn có 1 trải nghiệm tốt nhất ở đây</p>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="content2">
          <div class="row">
            <div class="col-12">
              <!-- hàng 1 -->
              <div class="day">
                <div class=" quan">
                  <div class="zoom_color noidung">
                    <div class="anhquan">

                  <a href="">
                    <img src="https://hotel84.com/hotel84-images/news/img1/quan-ngon-3-mien-81-pho-duy-tan0.jpg"  title="Quán ngon 3 miền" />
                  </a>
                </div>

                <div class="noidungquan">
                  <div class="khuyen-mai">
                    <a href="">
                      <h5>Mở cửa từ 8:00 - 18:00 từ thứ 2 - thứ 6</h5>
                    </a>
                  </div>
                  <a href="">
                    <h4>Quán ngon 3 miền</h4>
                    <p>Số 81 Phố Duy Tân, Cầu Giấy, Hà Nội</p>
                  </a>
                </div>
              </div>
            </div>

            <div class=" quan">
              <div class="zoom_color noidung">
                <div class="anhquan">
                  <a href="">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipMW7G08lAc9BX-J_hMaEW26BLjHHm5haBInS3Xc=s1360-w1360-h1020"  title="Cơm thố Anh Nguyễn" />
                  </a>
                </div>
                <div class="noidungquan">
                  <div class="khuyen-mai">
                    <a href="">
                      <h5>Mở cửa từ 9:30 - 22:30 từ thứ 2 - chủ nhật</h5>
                    </a>
                  </div>
                  <a href="">
                    <h4>Cơm thố Anh Nguyễn</h4>
                    <p>B32 Ngõ 66 Phố Dịch Vọng Hậu, Dịch Vọng Hậu, Cầu Giấy, Hà Nội</p>
                  </a>
                </div>
              </div>
            </div>

            <div class=" quan">
              <div class="zoom_color noidung">
                <div class="anhquan">
                  <a href="">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipOH7geXUAwllv_RJYNgHnzpdN7OWB7FALRbLf4s=s1360-w1360-h1020"  title="Cơm niêu Singapore" />
                  </a>
                </div>
                <div class="noidungquan">
                  <div class="khuyen-mai">
                    <a href="">
                      <h5>Mở cửa cả ngày từ thứ 2 - chủ nhật</h5>
                    </a>
                  </div>
                  <a href="">
                    <h4>Cơm nhiêu Kombo</h4>
                    <p>Số 19 Phố Duy Tân, Cầu Giấy, Hà Nội</p>
                  </a>
                </div>
              </div>
            </div>

            <div class=" quan">
              <div class="zoom_color noidung">
                <div class="anhquan">
                  <a href="">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipM-kM0okG1yvxv1qozqG-UXq-xnitbdgpz0-HzA=s1360-w1360-h1020"  title="Nhà hàng Nam Hương" />
                  </a>
                </div>
                <div class="noidungquan">
                  <div class="khuyen-mai">
                    <a href="">
                      <h5>Mở cửa từ 10:00 - 22:00 từ thứ 2 - chủ nhật</h5>
                    </a>
                  </div>
                  <a href="">
                    <h4>Nhà hàng Nam Hương</h4>
                    <p>Số 14 Phố Duy Tân, Dịch Vọng Hậu, Cầu Giấy, Hà Nội</p>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- hàng 2 -->
        <div class="col-12">
          <div class="day">
            <div class=" quan">
              <div class="zoom_color noidung">
                <div class="anhquan">
                  <a href="">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipNVZh1aTaPxKvs4TWKzC-XTjQAN54Gtpu82MeTK=s1360-w1360-h1020"  title="Vịt 19" />
                  </a>
                </div>
                <div class="noidungquan">
                  <div class="khuyen-mai">
                    <a href="">
                      <h5>Mở cửa cả ngày từ thứ 2 - chủ nhật</h5>
                    </a>
                  </div>
                  <a href="">
                    <h4>Vịt 19</h4>
                    <p>Ngách 76 8 Phố Duy Tân, Dịch Vọng Hậu, Cầu Giấy, Hà Nội</p>
                  </a>
                </div>
              </div>
            </div>

            <div class=" quan">
              <div class="zoom_color noidung">
                <div class="anhquan">
                  <a href="">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipNw9aBsB5tDDhDMnNr0M6QljnMeKHNQzegHu1eA=s1360-w1360-h1020"  title="Khao Lao" />
                  </a>
                </div>
                <div class="noidungquan">
                  <div class="khuyen-mai">
                    <a href="">
                      <h5>Mở cửa từ 9:00 - 22:30 từ thứ 2 - chủ nhật</h5>
                    </a>
                  </div>
                  <a href="">
                    <h4>Khao Lao</h4>
                    <p>Số 10 Phố Duy Tân, Dịch Vọng Hậu, Cầu Giấy, Hà Nội</p>
                  </a>
                </div>
              </div>
            </div>

            <div class=" quan">
              <div class="zoom_color noidung">
                <div class="anhquan">
                  <a href="">
                    <img src="https://toidicafe.vn/static/images/place/quan-cua-minh/quan-cua-minh-avatar-1648307691422.jpg"  title="Nhà hàng U-Base" />
                  </a>
                </div>
                <div class="noidungquan">
                  <div class="khuyen-mai">
                    <a href="">
                      <h5>Mở cửa từ 7:00 - 19:00 từ thứ 2 - chủ nhật</h5>
                    </a>
                  </div>
                  <a href="">
                    <h4>Nhà hàng U-Base</h4>
                    <p>Ngách 2 Ngõ 76 Duy Tân, Dịch Vọng Hậu, Cầu Giấy, Hà Nội</p>
                  </a>
                </div>
              </div>
            </div>

            <div class=" quan">
              <div class="zoom_color noidung">
                <div class="anhquan">
                  <a href="">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipMQeMUfaTMpZtmU9i6Wjdsi-T91ILhCKqvQ4swz=s1360-w1360-h1020"  title="Bami Bread"/>
                  </a>
                </div>
                <div class="noidungquan">
                  <div class="khuyen-mai">
                    <a href="">
                      <h5>Mở cửa từ 6:00 - 22:30 từ thứ 2 - chủ nhật</h5>
                    </a>
                  </div>
                  <a href="">
                    <h4>Bami Bread</h4>
                    <p>Số 36 Phố Duy Tân, Dịch Vọng Hậu, Cầu Giấy, Hà Nội</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</section>
