.PC{
  height: fit-content;
  width: 100%;
}

.review{
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: white;
  height: fit-content;
}

a{
  color: black;
}

.report{
  position: relative;
}

.review .dang_bai{
  padding-top: 15px;
}

.review .name{
  font-weight: bold;
}

.report i{
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.report .subnav{
  position: absolute;
  display: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 0;
  z-index: 999;
  background-color: white;
}

.report .subnav:hover,
.report i:hover .subnav{
  display: block;
  height: fit-content;
  width: 165px;
  right: 0;
}

.report .subnav li{
  line-height: 35px;
  text-align: center;
}

.subnav li:hover>a,
.report .subnav li:hover{
  color: white;
  background-color: #9b0000;
}

.time i,
.time span{
  color: gray;
  font-size: 14px;
}

.image{
  height: 650px;
}

.image .anh{
  height: fit-content;
  max-height: 650px;
}

.noi_dung{
  height: fit-content;
  max-height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.image{
  height: 630px;
}

.image img{
  width: 100%;
  height: 100%;
  max-height: 300px;
}

.box_image{
  height: 320px;
}

.ng_dung{
  height: 40px;
  cursor: pointer;
}

.ng_dung .share,
.ng_dung .comment,
.ng_dung .like{
  text-align: center;
  line-height: 40px;
}

.ng_dung .share:hover,
.ng_dung .comment:hover,
.ng_dung .like:hover{
  color: white;
  background-color: #9b0000;
}

.ng_dung .like:hover{
  border-bottom-left-radius: 10px;
}

.ng_dung .share:hover{
  border-bottom-right-radius: 10px;
}

.recomand {
  padding: 0;
  margin:0 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: white;
  height: fit-content;
}

.recomand .content{
  padding-top: 10px;
}

.content h4{
  text-align: center;
  font-weight: bold;
}

.recomand a:hover span{
  color: #9b0000;
}

.recomand .pic{
  padding-bottom: 10px;
  margin-left: 15px;
}

.recomand .name{
  font-weight: bold;
}

.in4{
  margin-left: 5px;
}
