<!-- <section class="search">
  <img src="https://ik.imagekit.io/reviewcafe/3511_zApiGKUaCd.jpg?tr=w-1800%2Cq-50" alt="">
  <h1>Lang Thang cùng LaTha</h1>
  <input type="search" placeholder="Tìm kiếm">
  <div class="src">
     <a href="">
        <h5><i class="fa fa-search" aria-hidden="true"> Tìm kiếm</i></h5>
     </a>
  </div>
</section> -->

<!-- Trang chủ -->
<div id="main">
  <div class="content0">
    <section class="search">
      <img src="https://ik.imagekit.io/reviewcafe/3511_zApiGKUaCd.jpg?tr=w-1800%2Cq-50" alt="">
      <h1>Lang Thang cùng LaTha</h1>
      <input type="search" placeholder="Tìm kiếm">
      <div class="src">
         <a href="">
            <h5><i class="fa fa-search" aria-hidden="true"> Tìm kiếm</i></h5>
         </a>
      </div>
    </section>
  </div>
  <div class="content1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>MỤC ĐÍCH BẠN CẦN ?</h1>
        </div>
        <div class="col-12">
          <div class="bg"></div>
        </div>
        <div class="col-12">
          <div class="menu">

            <li class="box">
              <a href="">
                <img src="https://assets.entrepreneur.com/content/3x2/2000/1646048617-Myproject79.jpg" alt="">
                <div class="name">
                  <p>Sống ảo</p>
                </div>
              </a>
            </li>

            <div class="box">
              <a href="">
                <div class="boxx">
                  <div class="anh">
                    <img src="https://www.colliers.com/-/media/images/colliers/asia/philippines/colliers-review/collierreview_hero_image_01312022_v2/hero_image_tondominium/hero_image_021522/hero_image_colliersviewpoint_022222.ashx?bid=0f5b3ed2a8de41f89e1a8d557e48f9f8" alt="">
                  </div>
                  <div class="name">
                    <p>Làm việc</p>
                  </div>
                </div>
              </a>
            </div>


            <div class="box">
              <a href="">
                <img src="https://img.mensxp.com/media/content/2018/Mar/header-3-copy-3-1520521093.jpg" alt="">
                <div class="name">
                  <p>Hẹn hò</p>
                </div>
              </a>
            </div>

            <div class="box">
              <a href="">
                <img src="https://truongthanhaudio.com/upload/image/chill-la-gi-co-y-nghia-gi-cac-truong-hop-dung-chill-dung-nhat.webp" alt="">
                <div class="name">
                  <p>Thư giãn</p>
                </div>
              </a>
            </div>


            <div class="box">
              <a href="">
                <img src="https://images.unsplash.com/photo-1506880018603-83d5b814b5a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVhZGluZ3xlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
                <div class="name">
                  <p>Đọc sách</p>
                </div>
              </a>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="content2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="carousel">
              <div class="carousel-wrap">
                <div class="img">
                  <img src="https://toidicafe.vn/static/images/region/tay-ho-1647433156043.jpeg?w=960" alt="">
                </div>

                <div class="img">
                  <img src="https://toidicafe.vn/static/images/region/tay-ho-1647433156043.jpeg?w=960" alt="Tây Hồ">
                </div>

                <div class="img">
                  <img src="https://toidicafe.vn/static/images/region/ba-dinh-1647433057947.jpeg" alt="Ba Đình">
                </div>

                <div class="img">
                  <img src="https://toidicafe.vn/static/images/region/dong-da-1647433142184.jpeg" alt="Đống Đa">
                </div>

                <div class="img">
                  <img src="https://toidicafe.vn/static/images/region/hoan-kiem-1647433147220.jpeg" alt="Hoàn Kiếm">
                </div>
                <div class="img">
                  <img src="https://toidicafe.vn/static/images/region/cau-giay-1647433134263.jpeg?w=960" alt="Cầu Giấy">
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="content3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="slide-wrap">



            <div class="slider">
              <div class="slide" id="slide-1">
                <img src="https://toidicafe.vn/static/images/region/tay-ho-1647433156043.jpeg?w=960" alt="">
              </div>
              <div class="slide" id="slide-2">
                <img src="https://toidicafe.vn/static/images/region/tay-ho-1647433156043.jpeg?w=960" alt="">
              </div>
              <div class="slide" id="slide-3">
                <img src="https://toidicafe.vn/static/images/region/tay-ho-1647433156043.jpeg?w=960" alt="">
              </div>
              <div class="slide" id="slide-4">
                <img src="https://toidicafe.vn/static/images/region/tay-ho-1647433156043.jpeg?w=960" alt="">
              </div>
              <div class="slide" id="slide-5">
                <img src="https://toidicafe.vn/static/images/region/tay-ho-1647433156043.jpeg?w=960" alt="">
              </div>
            </div>
            <div class="nutbam">
              <a href="#slide-1">
                <p></p>
              </a>
              <a href="#slide-2">
                <p></p>
              </a>
              <a href="#slide-3">
                <p></p>
              </a>
              <a href="#slide-4">
                <p></p>
              </a>
              <a href="#slide-5">
                <p></p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
