<section class="search">
  <img src="https://ik.imagekit.io/reviewcafe/3511_zApiGKUaCd.jpg?tr=w-1800%2Cq-50" alt="">
  <h1>Lang Thang cùng LaTha</h1>
  <input type="search" placeholder="Tìm kiếm">
  <div class="src">
     <a href="">
        <h5><i class="fa fa-search" aria-hidden="true"> Tìm kiếm</i></h5>
     </a>
  </div>
</section>

<!-- Trang chủ -->
<div id="trangchu">
  <!-- content1 -->
  <div class="content1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>MỤC ĐÍCH BẠN CẦN ?</h1>
        </div>
        <div class="col-12">
          <div class="menu">
            <!-- ảnh 1 -->
            <div class="box">
              <img src="https://assets.entrepreneur.com/content/3x2/2000/1646048617-Myproject79.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content2 -->
  <div class="content2">
    <div class="container">
      <div class="row">
        <div class="khampha">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1>{{ khampha[0].tieude  }}</h1>
              </div>
              <div class="col-12">
                  <div class="box">
                    <ul class="menu">
                    <div class="col-3">
                      <div class="box-khampha">
                        <img src="{{ khampha[1].anh}}" alt="">
                        <p>{{ khampha[1].p}}</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="box-khampha">
                        <img src="{{ khampha[2].anh}}" alt="">
                        <p>{{ khampha[2].p}}</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="box-khampha">
                        <img src="{{ khampha[3].anh}}" alt="">
                        <p>{{ khampha[3].p}}</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="box-khampha">
                        <img src="{{ khampha[4].anh}}" alt="">
                        <p>{{ khampha[4].p}}</p>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content3 -->
  <div class="content3">
    <div class="thongtinhapdan">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>{{ khuyenmai[0].tieude  }}</h1>
          </div>
          <div class="col-12">
            <div class="box">
              <img src="https://truongthanhaudio.com/upload/image/chill-la-gi-co-y-nghia-gi-cac-truong-hop-dung-chill-dung-nhat.webp" alt="">
            </div>
            <!-- ảnh 4 -->
            <div class="box">
              <img src="https://images.unsplash.com/photo-1506880018603-83d5b814b5a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVhZGluZ3xlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

