/* Tiêu đề khuyến mãi */
/* Content 1 - Thong tin hap dan */
#trangchu{
  padding-top: 20px;
}
.thongtinhapdan{
  padding: 20px 0;
  background-color: white;
  border-radius: 20px;
}
.thongtinhapdan h1{
  font-size: 28px;
  font-weight: 800px;
  color: #56423D;
  text-transform: uppercase;

}
.content1 .box .menu{
  padding-top: 20px;
  display: flex;
  overflow-x:scroll;
}
.box .box-khuyenmai{
	/* height: 330px; */
}

.menu::-webkit-scrollbar{
  display: none;
}
.box .box-khuyenmai img{
  height: 300px;
  width: 450px;
  padding: 0 10px;
  border-radius: 50px;
}
/* Khám phá */
/* content 2 */
