.box img{
  height: 150px;
  width: 270px;
  margin: 0 15px;
  border-radius: 10px;
}
.box img:first-child{
  margin-right: 15px;
  margin-left: 0px;
}
.box img:last-child{
  margin-right: 0px;
  margin-left: 15px;
}

.menu {
  overflow: auto;
  display: flex;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.menu::-webkit-scrollbar {
  display: none;
}
