.box img{
  height: 150px;
  width: 270px;
  margin: 0 15px;
  border-radius: 10px;
}
.box img:first-child{
  margin-right: 15px;
  margin-left: 0px;
}
.box img:last-child{
  margin-right: 0px;
  margin-left: 15px;
}

.menu {
  overflow: auto;
  display: flex;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.menu::-webkit-scrollbar {
  display: none;
}

/* Search */
.search{
  height: 447px;
}

.search img{
  width: 100%;
  z-index: -1;
  position: relative;
}

.search h1{
  position: absolute;
  top: 40%;
  left: 35%;
  z-index: 999;
  color: white;
}

.search input{
  position: absolute;
  top: 90%;
  left: 10%;
  z-index: 999;
  border-radius: 10px;
  width: 60%;
  height: 70px;
  border: 0;
  outline: none;
  size: 100px;
}

.search .src{
  position: absolute;
  top: 90%;
  right: 15%;
  border: 1px solid black;
  height: 70px;
  width: 200px;
  border-radius: 10px;
  background-color: #e03;
}

.search .src h5{
  position: absolute;
  color: white;
  line-height: 60px;
  left: 20%;
}
