<!-- Trang chủ -->
<div id="trangchu">
  <!-- content1 -->
  <div class="content1">
    <div class="container">
      <div class="row">
        <div class="thongtinhapdan">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1>{{ khuyenmai[0].tieude  }}</h1>
              </div>
              <div class="col-12">
                <div class="box">
                  <div class="box-khuyenmai">
                    <img src="{{ khuyenmai[1].anh }}" alt="">
                    <a href="{{ khuyenmai[1].link  }}">{{ khuyenmai[1].p  }}</a>
                  </div>

                  <div class="box-khuyenmai">
                    <img src="{{ khuyenmai[2].anh }}" alt="">
                    <a href="{{ khuyenmai[2].link  }}">{{ khuyenmai[2].p  }}</a>
                  </div>

                  <div class="box-khuyenmai">
                    <img src="{{ khuyenmai[3].anh }}" alt="">
                    <a href="{{ khuyenmai[3].link  }}">{{ khuyenmai[3].p  }}</a>
                  </div>

                  <div class="box-khuyenmai">
                    <img src="{{ khuyenmai[4].anh }}" alt="">
                    <a href="{{ khuyenmai[4].link  }}">{{ khuyenmai[4].p  }}</a>
                  </div>

                  <div class="box-khuyenmai">
                    <img src="{{ khuyenmai[5].anh }}" alt="">
                    <a href="{{ khuyenmai[5].link  }}">{{ khuyenmai[5].p  }}</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content2 -->
  <div class="content2">
    <div class="container">
      <div class="row">
        <div class="khampha">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1>{{ khampha[0].tieude  }}</h1>
              </div>
              <div class="col-12">
                  <div class="box">
                    <ul class="menu">
                    <div class="col-3">
                      <div class="box-khampha">
                        <img src="{{ khampha[1].anh}}" alt="">
                        <p>{{ khampha[1].p}}</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="box-khampha">
                        <img src="{{ khampha[2].anh}}" alt="">
                        <p>{{ khampha[2].p}}</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="box-khampha">
                        <img src="{{ khampha[3].anh}}" alt="">
                        <p>{{ khampha[3].p}}</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="box-khampha">
                        <img src="{{ khampha[4].anh}}" alt="">
                        <p>{{ khampha[4].p}}</p>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content3 -->
  <div class="content3">
    <div class="thongtinhapdan">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>{{ khuyenmai[0].tieude  }}</h1>
          </div>
          <div class="col-12">
            <div class="box">
              <div class="box-khuyenmai">
                <img src="{{ khuyenmai[1].anh }}" alt="">
                <a href="{{ khuyenmai[1].link  }}">{{ khuyenmai[1].p  }}</a>
              </div>

              <div class="box-khuyenmai">
                <img src="{{ khuyenmai[2].anh }}" alt="">
                <a href="{{ khuyenmai[2].link  }}">{{ khuyenmai[2].p  }}</a>
              </div>

              <div class="box-khuyenmai">
                <img src="{{ khuyenmai[3].anh }}" alt="">
                <a href="{{ khuyenmai[3].link  }}">{{ khuyenmai[3].p  }}</a>
              </div>

              <div class="box-khuyenmai">
                <img src="{{ khuyenmai[4].anh }}" alt="">
                <a href="{{ khuyenmai[4].link  }}">{{ khuyenmai[4].p  }}</a>
              </div>

              <div class="box-khuyenmai">
                <img src="{{ khuyenmai[5].anh }}" alt="">
                <a href="{{ khuyenmai[5].link  }}">{{ khuyenmai[5].p  }}</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

