/* PC */
.header-PC{
  height: 120px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

.header-PC .nav{
  padding: 0px;
  height: 90px;
  margin-top: 0px;
}

.header-PC li{
  width: 100px;
  text-align: center;
}

.header-PC .nav li{
  display: inline-block;
}

.header-PC .logo{
  position: relative;
  left: 12px;
}

.header-PC .logo{
  width: 100px;
  height: 100px;
}

.header-PC .nav .search{
  position: relative;
  left: 330px;
  bottom: 85px;
  width: fit-content;
}

.header-PC .input-box{
  height: 50px;
  width: 10px;
}

.header-PC ul .bg-search{
  background-color: lightgray;
  border-radius: 20px;
  position: relative;
  margin: 0px;
  width: 400px;
}

.header-PC .input-box input{
  position: relative;
  top: 15px;
  right: 2px;
  border: 0px solid;
  background-color: lightgray;
  border-radius: 20px;
  outline: 0;
}

.header-PC .icon svg{
  position: relative;
  top: 15px;
  left: 5px;
}

.header-PC .nav .btn{
  position: relative;
  left: 100px;
  bottom: 70px;
}

.header-PC .btn>a{
  text-align: center;
  line-height: 60px;
  color: black;

}

.btn:hover{
  background-color: #9b0000;
  cursor: pointer;
}

.nav .btn:hover a{
  color: white;
  background-color: #9b0000;
  cursor: pointer;
}

.header-PC .nav .btn{
  position: relative;
  left: 510px;
}

.header-PC .btn{
  border: 2px solid;
  border-radius: 20px;
}

/* Mobile */
.header-MB .col:first-child{
  height: 100px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

.header-MB .nav{
  width: 100%;
  padding: 0px;
}

.header-MB .nav li{
  width: fit-content;
  margin: 0px;
  display: inline-block;
}

.header-MB .nav .logo{
  position: relative;
  top: 0px;
}

.header-MB .search{
  position: relative;
  bottom: 70px;
  left: 27%;
  width: fit-content;
}

.header-MB .bg-search{
  background-color: lightgray;
  border-radius: 20px;
  position: relative;
  margin: 0px;
  width: fit-content;
}

.header-MB input{
  position: relative;
  left: 10px;
  border: 0px solid;
  background-color: lightgray;
  border-radius: 20px;
  outline: 0;
  height: 50px;
}

.header-MB svg{
  position: relative;
  top: 15px;
  left: 5px;
}

.header-MB .menu{
  position: relative;
  width: fit-content;
  left: 40%;
  bottom: 70px;
}

.header-MB .menu:focus .subnav{
  display: block;
}

.header-MB .nav .subnav{
  display: none;
}

@media only screen and (max-width: 1024px) {
  .header-PC{
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .header-MB{
    display: none;
  }
}