<section class="header">
  <div class="container">
     <div class="row">
        <div class="col-8 header-left">
           <div class="row">
              <div class="col-3 logo">
                 <img src="../../../../assets/img/Latha-logo.png" alt="">
              </div>
              <div class="col-2 text">
                 <a href="">
                    <p># Khám phá</p>
                 </a>
              </div>
              <div class="col text">
                 <a href="">
                    <p>* Khuyến mãi</p>
                 </a>
              </div>
           </div>
        </div>
        <div class="col header-right">
           <div class="row">
              <div class="col btn">
                 <button>
                    <a href="">
                       <h5><i class="fa fa-pencil" aria-hidden="true"> Viết review</i></h5>
                    </a>
                 </button>
              </div>
              <div class="col btn">
                 <button>
                    <a href="">
                       <h5>
                          Đăng nhập
                       </h5>
                    </a>
                 </button>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
