<section class="header">
  <div class="container">
     <div class="row">
        <div class="col-8 header-left">
           <div class="row">
              <div class="col-2 logo">
                <a href="http://localhost:4200">
                  <img src="../../../../assets/img/Latha-logo.png" alt="">
                </a>
              </div>
              <div class="col-4 search-header">
                <div class="bg-search">
                  <div class="row">
                    <div class="col-1">
                      <i class="fas fa-search"></i>
                    </div>
                    <div class="col">
                      <input type="search" placeholder="Tìm kiếm">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2 text">
                 <a href="http://localhost:4200/khampha">
                    <p># Khám phá</p>
                 </a>
              </div>
              <div class="col text">
                 <a href="http://localhost:4200/khuyenmai">
                    <p>* Khuyến mãi</p>
                 </a>
              </div>
           </div>
        </div>
        <div class="col header-right pl-0">
           <div class="row">
              <div class="col btn pr-0">
                 <button>
                    <a href="">
                       <h6><i class="fas fa-pen"> Viết review</i></h6>
                    </a>
                 </button>
              </div>
              <div class="col-4 btn sign pl-0">
                 <button>
                    <a href="">
                       <h6>
                          Đăng nhập
                       </h6>
                    </a>
                 </button>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
