.header{
  height: 85px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

.logo{
  position: relative;
}

.logo img{
  position: absolute;
  top: 10%;
}

.header .logo,
.header .col{
  height: 80px;
}

a:hover,
a{
  color: black;
  text-decoration: none;
}

a:hover p{
  color: darkred;
}

.logo img{
  height: 100%;
  width: auto;
}

.header-left .text{
  position: relative;
}

.header-left .text p{
  position: absolute;
  top: 35%;
  font-size: 20px;
}

.header-left .bg-search{
  background-color: lightgray;
  position: absolute;
  top: 25%;
  width: 170px;
  height: 50px;
  border-radius: 20px;
}

.bg-search .col-1,
.bg-search .col{
  height: 50px;
}

.header-left .search-header{
  position: relative;
}

.header-left .search-header i{
  position: absolute;
  top: 40%;
  left: 75%;
}

.header-left .search-header input{
  position: absolute;
  top: 25%;
  background-color: lightgray;
  border: 0;
  outline: 0;
  width: 130px;
}

.header-right button:first-child{
  position: absolute;
  left: 20px;
}

.header-right .btn button{
  position: absolute;
  top: 17%;
}

.header-right button{
  border-radius: 30px;
  height: 50px;
  width: 130px;
}

.header-right button:hover{
  background-color: #9b0000;
  border-color: white;
}

.header-right button:hover i,
.header-right button:hover span{
  color: white;
}
