<br>
<section class="PC">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-3">
        <div class="row">
          <div class="col-8 logo_footer">
            <a href="http://localhost:4200/">
              <img src="../../../../assets/img/Latha-footer.png" alt="Lang thang cùng LaTha">
            </a>
          </div>
          <div class="col-12 banner">
            <h6>Lang Thang cùng LaTha</h6>
          </div>
          <div class="col-8 box">
            <a href="">
              <i class="fas fa-hands-helping"></i>
              <span> Hợp tác với chúng tôi</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col about_us mt-3">
        <div class="row box_info">
          <div class="col-12 content">
            <h5>Về chúng tôi</h5>
          </div>
          <div class="col-12 info mt-3">
            <a href="">
              <span>Giới thiệu</span>
            </a>
          </div>
          <div class="col-12 info mt-2">
            <a href="">
              <span>Giải đáp thắc mắc</span>
            </a>
          </div>
          <div class="col-12 info mt-2">
            <a href="">
              <span>Liên hệ góp ý</span>
            </a>
          </div>
          <div class="col-12 info mt-2">
            <a href="">
              <span>Điều khoản sử dụng</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col follow mt-3">
        <div class="row follow_box">
          <div class="col-12 content">
            <h5>Theo dõi chúng tôi</h5>
          </div>
          <div class="col-12 info mt-3">
            <a href="">
              <i class="fab fa-tiktok"></i>
              <span> Tiktok</span>
            </a>
          </div>
          <div class="col-12 info mt-2">
            <a href="https://www.facebook.com/groups/652194343015213" target="_blank">
              <i class="fab fa-facebook-f"></i>
              <span> Facebook</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
